### Condition Statement

In [1]:
# Conditional statement

'''
if condition  == True:
    perform Operation inside the loop
else:
    perform this operation

Note : = : Assignment Operator
        == : Compariosn Operator

'''
 
num = 10
 

if num ==10:
    print("The value is 10")
else:
    print("The Value is  not 10")

The value is 10

In [4]:
#Check wheather the string is Palindrom or not

text = "dad"
text1 = text[::-1]

if text  == text1:
    print("the given string is pallendrom")
else:
    print("the string is not a pallendrome")

the given string is pallendrom

In [ ]:
'''
if condition:
statement
elif condition
else:
statement

'''

In [9]:
'''
marks>80 : best student

marks between 60 to 79 : good student

marks betwewn 50 to 59 :average student

marks <49 : poor student

'''


marks = float(input("Enter your marks : "))

if  marks >= 80:
    print("best student")
elif marks <80 and marks > 60:
    print ("good student")
elif marks <60 and marks >50:
    print ("average student")
else :
    print ("poor student")

average student

In [16]:
'''
balance = 10000

withdraw = amount

threshhold = 2000

'''

balance = 10000
withdraw = float(input(" ENTER WITHDRAWL AMOUNT : "))
if withdraw >= balance:
 print("Insufficient balance")
if withdraw <= balance:
 new_balance = balance-withdraw
if new_balance >= 2000:
 print("new balance is ", new_balance)
else:
 print("withdraw fail")

withdraw fail

In [17]:
# For loop 
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [22]:
for i in range(1,11):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [35]:
for i in range(11):
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [36]:
for i in range(11):
    print('*'*i*i)

*
****
*********
****************
*************************
************************************
*************************************************
****************************************************************
*********************************************************************************
****************************************************************************************************