### Condition Statement

In [2]:
# Conditional statement

'''
if condition  == True:
    perform Operation inside the loop
else:
    perform this operation

Note : = : Assignment Operator
        == : Compariosn Operator

'''
 
num = 10
 

if num ==10:
    print("The value is 10")
else:
    print("The Value is  not 10")

The value is 10

In [3]:
#Check wheather the string is Palindrom or not

text = "dad"
text1 = text[::-1]

if text  == text1:
    print("the given string is pallendrom")
else:
    print("the string is not a pallendrome")

the given string is pallendrom

In [4]:
'''
if condition:
statement
elif condition
else:
statement

'''

'\nif condition:\nstatement\nelif condition\nelse:\nstatement\n\n'

In [5]:
'''
marks>80 : best student

marks between 60 to 79 : good student

marks betwewn 50 to 59 :average student

marks <49 : poor student

'''


marks = float(input("Enter your marks : "))

if  marks >= 80:
    print("best student")
elif marks <80 and marks > 60:
    print ("good student")
elif marks <60 and marks >50:
    print ("average student")
else :
    print ("poor student")

average student

In [6]:
'''
balance = 10000

withdraw = amount

threshhold = 2000

'''

balance = 10000
withdraw = float(input(" ENTER WITHDRAWL AMOUNT : "))
if withdraw >= balance:
 print("Insufficient balance")
if withdraw <= balance:
 new_balance = balance-withdraw
if new_balance >= 2000:
 print("new balance is ", new_balance)
else:
 print("withdraw fail")

new balance is  9945.0

### In Range function

In [7]:
# For loop 
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [8]:
for i in range(1,11):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [9]:
for i in range(11):
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
for i in range(11):
    print('*'*i*i)

*
****
*********
****************
*************************
************************************
*************************************************
****************************************************************
*********************************************************************************
****************************************************************************************************

In [16]:
'''
range (start , stop , step )

'''

for i in range(0,12,2):
    print(i)

0
2
4
6
8
10

In [21]:
#Using While Loop

num = 5
i=0
while i <=num:
    print(i)
    i = i + 1

0
1
2
3
4
5

In [33]:
for i in range(0,20,2):
    pass
    print(i)

0
2
4
6
8
10
12
14
16
18

In [34]:
for i in range(0,20,2):
    break
    print(i)

In [35]:
for i in range(0,20,2):
    continue
    print(i)

In [ ]:
def new_func():
    for i in range (0,15):
        if i <=5:
            print(i)
            break

new_func()

0

In [37]:
for i in range (0,15):
    if i <=5:
        print(i)
        continue

0
1
2
3
4
5

In [38]:
for i in range (0,15):
    if i <=5:
        print(i)
        pass

0
1
2
3
4
5

In [ ]:
for i in range (0,15):
    if i <=5:
        print(i)
        break
    continue

0

In [1]:
for i in range(0,10):
    for j in range(10,11):
        print(i)
        print(j)

0
10
1
10
2
10
3
10
4
10
5
10
6
10
7
10
8
10
9
10

In [52]:
num1 = float(input("enter your num"))
num2 = float(input("enter your num"))
choice = input("enter your operator *,+,-,/")
if choice =="+" :
    add= num1+num2 
    print(add)
if choice =="-" :
    sub= num1-num2 
    print(sub)
if choice =="*" :
    mul= num1*num2 
    print(mul)
if choice =="/" :
    div= num1/num2 
    print(div)
else:
    print("select the correct operator")

10.0
select the correct operator