###  Data stucture in python

In [29]:
# Data Structures in python programming

'''
1. List : []  . Mutable in Nature
2. Tuple :() . Immutable in Nature
3. Dictionary : {'key1':Value, 'key2',Value2} : Immutable in Nature
4. sets  : {1,2,3,4,5} : Immutable in Nature
'''
# if Your are performming any computational software development program tuple is most preferred
# List Definition 

lst = [10,20,30,40]
print(lst)
print(type(lst))
# append() this is function which defined in class list 
# Therefore, append() is a method of class list 
# lst. append(50) :you are calling function using. operator
lst.append(50)
print(lst)

[10, 20, 30, 40]
<class 'list'>
[10, 20, 30, 40, 50]

In [30]:
lst.insert(0,5) #this function will add the value 5 at an index 0
print(lst)

[5, 10, 20, 30, 40, 50]

In [31]:
lst.count(50) #use to count a particular number count

1

In [32]:
lst.pop() #this is use to pop or delete the last value

50

In [33]:
print(lst)

[5, 10, 20, 30, 40]

In [34]:
lst.insert(3,10)
print(lst)

[5, 10, 20, 10, 30, 40]

In [35]:
lst.remove(10) #use to remove a specified value
print(lst)

[5, 20, 10, 30, 40]

In [36]:
lst=[10,10,20,30,20,5,50,20] #new list
lst.pop()
lst.remove(10)
lst.remove(30)
print(lst)

[10, 20, 20, 5, 50]

In [37]:
#concept of indexing and slicing on list
lst=[10,20,30,40,50,60]
print(lst[0::2])
print(lst [::-1])
print(lst [2])

[10, 30, 50]
[60, 50, 40, 30, 20, 10]
30

In [38]:
lst = [10,20,30,[40,50,60],[1,[2,[3,4,5,6],7],8,9],10]
#need output 5
lst[4][1][1][2]

5

In [39]:
lst = [10,20,[1,2,3,[10,20,[30,[40,50,[60],70],90],9,100],1000],2000,[10000]]
# need output 60
lst[2][3][2][1][2][0]

60

In [40]:
# Tuple Defination

tup = (10,20,30,40)
print(type(tup))

<class 'tuple'>

In [41]:
tup.index(10)

0