### Introduction to Python Programming

In [36]:
# Variable  Defination

number =  1000  #Defining Integer Variable
decimal = 10.33 #Defining Float Variable
string = "Hello World" # Defining String

'''
Data types  in Python are as follows:

1. Integer
2. Float
3. String

'''

'\nData types  in Python are as follows:\n\n1. Integer\n2. Float\n3. String\n\n'

In [37]:
# Checking Datatype Variable

print(type(number))
print(type(decimal))
print(type(string))

<class 'int'>
<class 'float'>
<class 'str'>

In [38]:
# Type Casting of Data type
num = 25.55 #Datatype : Float

print(int(num)) #Float is typecasted into int

25

In [39]:
#Using input function

num = input("enter your value:")
print("Your value is",(num))
print(type(num))


#Doing type casting

print(int(num))
print(float(num))

Your value is 25
<class 'str'>
25
25.0

In [40]:
str = input ("enter your name")
print ("your name is",str)

your name is tousif

In [41]:
# perform Mathmatical Operation 
num1 = float(input('Enter the first Number'))
num2 = float(input('Enter the second Number'))

num3 = num1 + num2

#using fstring method 
print(f'the addition of two number as {num1} and{num2} is',num3)

the addition of two number as 20.0 and25.0 is 45.0

In [42]:
#Strings Indexing and Slicing

string = input('Enter the string')

'''
H e l l o   W o r l d
0 1 2 3 4 5 6 7 8 9 10    :L--->R
...............-3-2-1     :R-->L
'''
print(string[6])   #Indexing
print(string[-5])  #Indexing

w
w

In [43]:
# Concept of Slicing
string = input('Enter the string')
'''
string[start:stop]
Example:
string = Hello World
string = Hello World
string[1:4]  ---> o/p :ell
'''
print(string[1:4])
print(string[:-1])
print(string[2:2])
print(string[4:-1])

ell
hello worl

o worl

In [44]:
# Concept of Slicing
string = input('Enter the string')
'''
string[start:stop:step]
Example:
string = Hello World
string = Hello World
string[1:4]  ---> o/p :ell
'''
print(string[1::2])

el ol

In [45]:
#concept of Indexing and Slicing Together
str = 'Hello welcome to the world of python programming'
print(str[::2])
print(str[4:-2:])
print(str[::-1])

Hlowloet h ol fpto rgamn
o welcome to the world of python programmi
gnimmargorp nohtyp fo dlrow eht ot emoclew olleH

In [46]:
# Data Structures in python programming

'''
1. List : []  . Mutable in Nature
2. Tuple :() . Immutable in Nature
3. Dictionary : {'key1':Value, 'key2',Value2} : Immutable in Nature
4. sets  : {1,2,3,4,5} : Immutable in Nature
'''
# if Your are performming any computational software development program tuple is most preferred
# List Definition 

lst = [10,20,30,40]
print(lst)
print(type(lst))
# append() this is function which defined in class list 
# Therefore, append() is a method of class list 
# lst. append(50) :you are calling function using. operator
lst.append(50)
print(lst)

[10, 20, 30, 40]
<class 'list'>
[10, 20, 30, 40, 50]

In [47]:
lst.insert(0,5) #this function will add the value 5 at an index 0
print(lst)

[5, 10, 20, 30, 40, 50]

In [48]:
lst.count(50) #use to count a particular number count

1

In [49]:
lst.pop() #this is use to pop or delete the last value

50

In [50]:
print(lst)

[5, 10, 20, 30, 40]

In [51]:
lst.insert(3,10)

In [52]:
print(lst)

[5, 10, 20, 10, 30, 40]

In [53]:
lst.remove(10) #use to remove a specified value
print(lst)

[5, 20, 10, 30, 40]

In [ ]:
lst=[10,10,20,30,20,5,50,20] #new list
lst.pop()
lst.remove(10)
lst.remove(30)
print(lst)

[10, 20, 20, 5, 50]

In [55]:
#concept of indexing and slicing on list
lst=[10,20,30,40,50,60]
print(lst[0::2])
print(lst [::-1])
print(lst [2])

[10, 30, 50]
[60, 50, 40, 30, 20, 10]
30

In [56]:
lst = [10,20,30,[40,50,60],[1,[2,[3,4,5,6],7],8,9],10]
#need output 5
lst[4][1][1][2]

5

In [57]:
lst = [10,20,[1,2,3,[10,20,[30,[40,50,[60],70],90],9,100],1000],2000,[10000]]
# need output 60

In [58]:
lst[2][3][2][1][2][0]

60